@charset "utf-8";

/* -- CSS Variables -- */
/* if there are any variables in this section, it didn't compile correctly. */
/* ------------------- */

/* -- import -- */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700);
@import url(https://fonts.googleapis.com/css?family=Dancing+Script:400,700);
@import url(harriet-font.css);

/* -- branding -- */
.logo {
  z-index: 10;
  font-weight: 500;
  font-size: 20pt;
  letter-spacing: -1.5pt;
  text-align: center;

  width: 150px;
  padding: 10px 0px;
  margin: 0 auto;

  color: #444;
  border: 3px solid #444;

  transition: all 0.2s ease;
  cursor: pointer;
}

.logo:hover {
  color:  #E99B56;
  border: 3px solid  #E99B56;
}
/* -------------- */

/* -- general -- */
* {
  text-shadow: 0 0 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;

  font-family:  'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', 'Sans-Serif';
  font-style: normal;
  font-size: 14pt;
  font-weight: 300;

  background-color:  #FAFAFA;
  color: #444;
}

h1 {
  font-size: 26pt;
}

h2 {
  font-size: 20pt;
}

h3 {
  font-size: 14pt;
}

h1,
h2,
h3 {
  font-weight: 700;
}

p,
blockquote {
  font-family:  'Harriet', 'Garamond', 'Georgia', 'Times New Roman', 'Serif';
  font-style: normal;
  font-size: 14pt;
  font-weight: 300;
  text-align: justify;
  line-height: 1.5;

  width: 60%;

  margin: 20px auto;
}

a {
  text-decoration: none;
  color:  #E99B56;
}

i {
  font-style: italic;
}

nav li {
  list-style-type: none;
  float: left;
  margin: 5px 20px;
}

nav ul {
  margin: 0 10px;
}

hr {
  border: none;
  border-bottom: 1px solid rgba(255,255,255,0.5);
}
/* ------------- */

/* -- blocks -- */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px;
  border-bottom: 1px solid #DDD;
  background-color: rgba(255,255,255,0.8);
}

#landing-page {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;

  align-items: center;
  text-align: center;

  width: 100vw;
  height: 100vh;

  background-color: #444;
  background-size: 100vw auto;

  z-index: -1;
}

#landing-page .container {
  text-align: center;

  margin: 0 auto;
  padding: 50px;
  background-color: rgba(0,0,0,0.3);

  color:  #FAFAFA;
}

.client-logo {
  font-size: 60pt;
  font-weight: 700;
}

.banner {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;

  align-items: center;
  text-align: center;

  width: 100%;
  padding: 120px 0px;
  text-align: center;

  background-color: #444;
  background-size: 100% auto;
  background-position: center;
}

.padded-div {
  width: calc(100% - 100px);
  padding: 50px;
  background-color:  #FAFAFA;
}

.img-wrapper, .photo-grid {
  width: 60%;
  margin: 20px auto;
}

img {
  width: 100%;
}

.photo-grid img {
  display: none;
}

#img-preview {
  position: fixed;
  display: none;

  text-align: center;

  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-color: rgba(255,255,255,0.8);
}

#img-preview img {
  display: inline-block;

  height: 80vh;
  width: auto;
  margin: 10vh auto 0 auto;
}

blockquote {
  font-style: italic;
  text-align: center;

  width: 60%;
  margin: 0 auto;
}

blockquote::before {
  content: "“";
}

blockquote::after {
  content: "”";
}
/* ------------ */


/* -- mini-style -- */
.center {
  text-align: center;
  margin: 0 auto;
}

.cursive {
  font-family: 'Dancing Script', cursive;
}

.no-margin {
  margin: 0;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clear-float {
  clear: both
}
/* ---------------- */
